//////////////////////////////
// COLOURS
//////////////////////////////

$primary : #03406C; // blue
$secondary : #262626; // dark-grey (pantone Coll Grey 11)
$tertiary : #D9D9D9; // light-grey

$tertiary-light : #F3F3F3; // lighter - grey
$primary-light : #94D2FF; // light-blue

$black : #000;
$white : #FFF;

$grey : #918F90; // used in slogan
$light-grey : #f5f5f5;
$dark-grey : #585859;

$transparent: rgba(#03406C, 0.8);
$gallery-transparent: rgba(#03406C, 0.5);

// MENU COLOURS

$menu1 : #e9004f;
$menu2 : #5daedf;
$menu3 : #b5dd20;
$menu4 : #fcae14;