//////////////////////////////
// GRID LAYOUT
//////////////////////////////

// singularitygs

$grids: 12;
$gutters: 1/3;

$tab: 44em;
$desk: 70em;
$wide: 90em;

$touch: point coarse, 'no-query' '.touch';